<strong>Olá, {{ name }}</strong>
<p>Seja bem vindo! Sua matrícula na Gympoint foi efetivada. Os dados da mátricula são:</p>
<p>
  <strong>Plano: </strong> {{ plan_name }}<br/>
  <strong>Valor: </strong> R$ {{ price }}<br/>
  <strong>Início: </strong> {{ start_date }}<br/>
  <strong>Término: </strong> {{ end_date }}<br/>
  <br />
</p>
